<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Local-->
    <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Integracao;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="S2GPIConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=S2GPI;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--Producao-->
    <!-- <add name="DefaultConnection" connectionString="Data Source=WIN-M91F3SS3MMA\SQLEXPRESS;Initial Catalog=Integracao;User ID=sa;Password=BRs2gpi@2018" providerName="System.Data.SqlClient" />-->
    <!-- <add name="S2GPIConnection" connectionString="Data Source=WIN-M91F3SS3MMA\SQLEXPRESS;Initial Catalog=S2GPI;User ID=sa;Password=BRs2gpi@2018" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PsPSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PsPSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://cacha.com.br/PsP.asmx" binding="basicHttpBinding" bindingConfiguration="PsPSoap" contract="PsPIntegracao.PsPSoap" name="PsPSoap" />
     <endpoint address="http://localhost/FtpService/psp.asmx" binding="customBinding" bindingConfiguration="PsPSoap12" contract="ProxyIntegracao.PsPSoap" name="PsPSoap12" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>